<h1>디바이스 정보</h1>
<p>{{deviceInfo|json}}</p>

<h1>네트워크 정보</h1>
<p>{{networkInfo|json}}</p>

<h1>브라우저 API기능 </h1>
<button (click)="openBrowser()">브라우져 열기</button>
<button (click)="prefetchBrowser()">브라우져 prefetchBrowser(Android)</button>
<button (click)="closerBrowser()">브라우져 닫기(IOS)</button>

<h1>Geolocation</h1>
<p>최초 위치 정보: {{currentPositionInfo|json}}</p>
<p>위치 실시간 정보: {{watchPositionInfo|json}}</p>


<h1>Toast API기능 (android) </h1>
<button (click)="showToast()">Toast 열기</button>


<h1>Modal API기능 (android) </h1>
<button (click)="showAlert()">showAlert 열기</button>
<button (click)="showConfirm()">showConfirm 열기</button>
<button (click)="showPrompt()">showPrompt 열기</button>
<button (click)="showActions()">showActions 열기</button>


<h1>Camera API기능 (android) </h1>
<img [src]="image" />
<button (click)="takePicture()" ion-button color="primary">Take Picture</button>